<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Page</title>
</head>
<body>
    <h1>Create New Business</h1>
    <form action="/blk/" method="POST">
        Name: <input type="text" name="name" id="">
        Location: <input type="text" name="location" id="">
        Owners: <input type="text" name="owners" id="">
        Type: <input type="text" name="type" id="">
        Email: <input type="text" name="email" id="">
        Phone: <input type="text" name="phone" id="">
        Website: <input type="text" name="website" id="">
        Image: <input type="text" name="image" id="">
        Tags: <input type="text" name="tags" id="">
        <input type="submit" name="POST" value="Create New Business">
    </form>
    <a href="/blk/">Back to Home</a>
</body>
</html>